  :root{
  --main-color: #D84315;
  --main-ligth-color: #FF7543;
  --main-dark-color: #9F0000;
  --secondary-color: #424242;
  --secondary-ligth-color: #6D6D6D;
  --secondary-dark-color: #1B1B1B;
  --sucess-color: #3DC418;
  --error-color: #9F0000;
  --Primary-font-color: #fff;

}



html{
  margin: 0;
  min-height: 100%;
}

body{
  margin: 0;
  padding: 0;
  background-image: url('./Supermarket-stands-filled-with-goods.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  height: inherit;

  /*font-family: 'Open Sans', sans-serif;*/
}

#root{
  margin: 0;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  align-content: space-between;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;

}

.navbar{
  background-color: var(--secondary-dark-color);
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar h1{
  margin: 0;

}

.nav-app-name{
  margin: 0;
  margin-left: 12px;
  font-size: 2rem;
  color: var(--main-color);
  order: 0;
  text-decoration-color: #fff;
}

.nav-dashboard{
  display: none;
  color: var(--Primary-font-color);
  font-size: 1.3em;
  text-decoration: none;
}

.nav-orders{
  display: none;
  color: var(--Primary-font-color);
  font-size: 1.3em;
  text-decoration: none;
}

.nav-users{
  display: none;
  color: var(--Primary-font-color);
  font-size: 1.3em;
  text-decoration: none;
}

.nav-logout{
  display: none;
  color: var(--Primary-font-color);
  font-size: 1.3em;
  text-decoration: none;
}

.nav-login{
  color: var(--Primary-font-color);
  order: 2;
  margin-right: 10px;
  font-size: 1.3em;
  text-decoration: none;
}

.nav-login:hover{
  color: var(--main-color);
  font-size: 1.4em;
  text-decoration: underline;
  text-decoration-color: var(main-ligth-color);
  text-decoration-style: double;
}

.info-container{
  background-image: linear-gradient(var(--secondary-dark-color), black);

  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 6;

  color: var(--Primary-font-color);
  border-radius: 20px;
  height: 100%;
  margin-top: 15%;
}

.info-container h2{
  margin: 15px;
}

.info-container p{
  margin: 15px;
  font-family: 'Open Sans', sans-serif;
}

.login-container{
  margin-top: 18%;
  background-color: var(--secondary-dark-color);
  color: var(--Primary-font-color);
  align-self: center;
  grid-row-start: 5;
  grid-row-end: 10;
  grid-column-start: 4;
  grid-column-end: 8;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.login-container *{
  margin: 10px;
  
}

.login-container h2{
  order: 0;
  align-self: center;
}

form{
  display: flex;
  flex-direction: column;
  
}

input {
  max-width: 35%;
  height: 25px;
  border-radius: 7px;
  margin: 0, 50%, 0, 50%;
  align-self: center;
}

.login-label{
  font-size: 1.2em;
  margin-bottom: 5px;
  align-self: center;
}

#email-label {
  order: 1;
  
}

#email {
  order: 2;
}

#password-label {
  order: 3;
}

#password {
  order: 4;
}
button {
  order: 5;
  background-color: var(--main-color);
  color: var(--Primary-font-color);
  font-size: 1.3em;
  font-weight: bold;
  height: 50px;
  border-radius: 7px;
  width: 50%;
  align-self: center;
  
}

.dashboard-container{

  
  grid-row-start: 3;
  
  grid-column-start: 1;
  grid-column-end: 11;
  
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: repeat(2, 50%);
  gap: 10px;


}

.chart-container{
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.chart-container h2{
  margin: 10px;
  margin-bottom: 5px;
  align-self: center;
  font-size: 2em;
  font-weight: bold;
  color: var(--Primary-font-color);

}



#c1{
  background-color: var(--secondary-ligth-color);
  
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;

  height: 250px;
  color: var(--sucess-color);

  margin-top: 10px;
  margin-left: 10px;
}

#c2{
  background-color: var(--secondary-ligth-color);

  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;

  color: var(--error-color);

  margin-left: 10px;
  height: 250px;
}

#c3{
  background-color: var(--secondary-ligth-color);

  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;

  color: blue;
  
  width: 97%; 
  margin-top: 10px;
  margin-right: 10px;

}



.data-container{
  background-color: var(--secondary-color);
  margin: 10px;
  border-radius: 16px;
  height: 100%;
  display: flex;
  

}

#c3 .data-container{
  background-image: url('./Eclipse-1s-430px.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.data-container *{
  margin: 5px;
}

.data{
  font-size: 2.5em;
  font-weight: bold;
  align-self: center;
  
}

.loading{
  height: 100%;

}

.createOrder-container{
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 11;
  min-height: 100%;
  height: 100%;
  display: flex;
  color: var(--Primary-font-color);

}

.create-order{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
  background-color: var(--secondary-dark-color);
  width: 100%;
  order: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  
}

.create-order h2{
  align-self: center;
}

.create-order form{
  width: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  align-items: center;
}



.show-orders{
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
  background-color: var(--secondary-dark-color);
  width: 100%;
  height: 100%;
  order: 2;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  
}

.show-orders h2{
  align-self: center;
}

.c-order{
  height: 500px;
  background-color: var(--secondary-ligth-color);
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.orders{
  background-color: var(--secondary-ligth-color);
}

li{
  margin: 10px;
}